body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

.instalacao {
  width: fit-content;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

footer {
  display: flex;
  width: 100vw;
  justify-content: center;
  bottom: 1px;
  position: fixed;
}

input[type="date"],
input[type="number"] {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

input[type="button"] {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #444;
}

nav {
  background-color: #0060a7;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0077cc;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0060a7;
}

nav {
  position: relative;
  z-index: 1;
}

h1 {
  font-family: system-ui;
  color: #fff;
  margin-left: -320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

li a {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

li a:hover {
  background-color: white;
  color: #0060a7;
}

#menu {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  align-items: center;
}

#menu a {
  display: block;
  padding: 0.5rem;
  background: #333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
  text-align: center;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  h1 {
    display: none;
  }

  li a {
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #0077cc;
    text-align: center;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 95px;
    right: 0px;
    background: #0060a7;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 4rem);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    align-items: center;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
